.form-control {
  display: inline-block;
  width: 250px;
  margin-top: 50px;
}
.jumbotron {
  background-image: url("Aliens.jpg");
}
.row {
background-color: lightblue;
}

. {
    background-color: lightblue;
    }
